\.gradle/5\.4\.1/executionHistory/
\.gradle/5\.4\.1/fileHashes/
\.gradle/buildOutputCleanup/

*.bin
Service-1/bin/*

# IntelliJ configuration
.idea/ 

# ouptput compiled services folder
**/publish/*



.vscode/
